/* styles.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  margin: 10px;
  position: relative;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  filter: brightness(0.7) sepia(1) hue-rotate(180deg);
  transition: filter 0.3s;
}

.card .info {
  padding: 10px;
  text-align: center;
}

.card h2 {
  margin: 10px 0;
  font-size: 1.5em;
}

.card p {
  margin: 5px 0;
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.card .overlay p {
  margin: 20px;
  text-align: center;
}

.card .overlay button {
  background-color: #0076a9;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover img {
  filter: none;
}

.card:hover .overlay {
  opacity: 1;
}

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #1e1e1e;
  color: #4ab3f4; /* Mavi filtre rengini kullanıyoruz */
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
}

/* Responsive tasarım */
@media (max-width: 768px) {
  .slogan {
      font-size: 2em;
  }
}

@media (max-width: 480px) {
  .slogan {
      font-size: 1.5em;
  }
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #121212;
  color: #777;
  font-size: 0.9em;
  margin-top: 20px;
}
